/* CSS Document */
body {
	text-align: center;
	font-family: Helvetica;
}

header {
	margin: 0px auto;
	background-image: url(../img/flatiron-building.jpg);
}

section {
	
}

footer {
	font-size: 11px;
	color: white;
	background-color: dimgray;
}

header h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

.nav {
	font-size: 18px;
	color: white;
}

.nav li {
	list-style-type: none;
}

.nav a {
	color: white;
}
